* {
    box-sizing: border-box;
}

body {
    background-color: #242c45;


}

.card {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #6bb5a1;
    flex-wrap: wrap;

}